
nav{
    background-color: crimson;
    height: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav >h2:hover{
    color:white;
}

nav >button:hover{
    background-color: black;
    color:white;
}

nav > button:active{
    background-color: green;
}


main > ul > li:nth-child(2n){
    background-color: pink;
}
main > ul > li:nth-child(2n+1){
    background-color: gray;
}

main > ul > li:hover{
    background-color: red;
}

main > input:focus{
    background-color: lightgreen;
}


section > h1:nth-of-type(2)
{
    color:red;
}

section > h3:nth-of-type(2)
{
    color:green;
}


section > h1:first-child
{
    color:yellow;
}

section > p:last-child{
    color:blue;
}



/* Psuedo class Selctor style */

article > h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px red;
}

article > p{
    font-size: 21px;
    word-spacing: 4px;
    text-align: justify;
    text-indent: 100px;
    line-height: 30px;
}


article > p::first-letter{
    font-size: 50px;
    color:brown;
}

article > p::first-line{
    font-style: italic;
}

article > p::selection{
    background-color: green;
    color:white;
}

article > h1::after{
    content: "***";   /*  important */
    color:blue;
    
}

article > h1::before{
    content: "~~~";   /*  important */
    color:blue;
    
}

article > input::placeholder{
    color: red;
    text-align: center;
    font-style: italic;
}

article > ul > li::marker{
    color:blue;
}
article > ul > li:nth-child(2n)::marker{
    color:red;
}


/* attribute selector */

footer > a[target ="_blank"]{
    background-color: pink;
}